@layer components {
    .bw-button {
        @apply
            py-4
            px-7
            focus:outline-none
            text-xs
            uppercase
            tracking-widest
            rounded-full
            inline-flex items-center
    }
    .bw-button.big {
        @apply
            py-6
            px-12
    }
    .bw-button.small {
        @apply
            py-3
            px-6
            !text-[11px]
    }
    .bw-button.tiny {
        @apply
            py-[6px]
            px-[12px]
            text-[10px]
    }
    .bw-button.primary {
        @apply
            focus:ring focus:ring-offset-2 focus:ring-opacity-30 dark:focus:ring-opacity-10
            transition text-white hover:text-white rounded-full active:translate-y-0.5 
    }
    .bw-button.secondary {
        @apply
            focus:ring
            focus:ring-offset-2
            focus:ring-slate-500/40
            active:translate-y-0.5
            transition
            bg-slate-300  dark:bg-slate-700
            text-slate-800 dark:text-slate-400
            rounded-full
            hover:bg-slate-400 hover:text-white hover:dark:bg-slate-400/50 hover:dark:text-slate-300
            active:bg-slate-700 dark:focus:ring-slate-800
    }
    .bw-button.disabled {
        @apply
            disabled:opacity-50
            disabled:cursor-not-allowed
    }
}