@layer components {
    .bw-textarea,
    .bw-input
    {
        @apply
            !outline-none
            !ring-0
            focus:outline-none
            focus:border
            focus:border-blue-300
            rounded-md
            text-sm
            p-4
    }
    input.no-label, .bw-input.no-label, .bw-textarea.bw-input.no-label {
        @apply placeholder-transparent
    }
    .form-label {
        @apply
            absolute
            cursor-text
            left-3.5
            -top-2
            text-xs
            px-1
            transition-all
            peer-placeholder-shown:top-[18px]
            peer-focus:-top-2
    }
}