@layer components {
    .button {
        @apply 
            pt-3 
            pb-2 
            px-7 
            focus:outline-none 
            text-xs 
            uppercase 
            tracking-widest
            bg-slate-300
            text-slate-800
            hover:bg-slate-400 hover:text-white
            active:bg-slate-500
            rounded-full
    }
    .button.big {
        @apply 
            py-4
            px-10
    }
    .button.small {
        @apply 
            py-2
            px-4
            !text-xs
    }
    .button.tiny {
        @apply 
            py-[6px]
            px-4
            text-[10px]
    }
    .button.primary { 
        @apply 
            focus:ring 
            focus:ring-offset-2 
            focus:ring-blue-500 
            focus:ring-opacity-40 
            active:translate-y-0.5 
            transform 
            transition 
            bg-blue-500 
            text-white 
            rounded-full 
            hover:bg-blue-700 
            active:bg-blue-700
    }
    .button.disabled {
        @apply
            disabled:opacity-50
            disabled:cursor-not-allowed
    }
}