@layer components {
    button.bw-dropdown,
    select {
        @apply 
            border 
            border-gray-400/30 
            rounded-md
            px-4 
            py-3 
            !outline-none
            !ring-0
            focus:outline-none 
            focus:border 
            focus:border-gray-500 
            text-sm 
            placeholder-transparent
            peer-placeholder-shown:mt-2
    }
}