@layer components {
    .bw-progress-bar .striped {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent);
        background-size: 2.5rem 2.5rem;
    }

    .bw-progress-bar .striped.animated {
        animation: move-stripes 8s linear infinite;
    }

    @keyframes move-stripes {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 100% 100%;
        }
    }
}